<div id="banner">
<h1> Welcome <%= @user.username %></h1>
<%= link_to 'Logout', logout_path, :method => 'delete' %>
</div>

<div id="ideas">
  <% @user.ideas.each do |idea| %>
    <%= idea.title %>
    <%= idea.description %>
  <% end %>
</div>
